[tool.poetry]
name = "oscclip"
version = "0.2.1"
description = "Utilities to access the clipboard via OSC52"
authors = ["Stefan Tatschner <stefan@rumpelsepp.org>"]
license = "GPLv3"

[tool.poetry.dependencies]
python = "^3.6"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
osc-copy = "oscclip:osc_copy"
osc-paste = "oscclip:osc_paste"
